<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="">
          <h1 class="display-4">Painel de Análises!</h1>
          <p class="lead">Aqui disponibilizamos visualizações de dados que possibilitem tomadas de decisões para aumentar suas vendas.</p>
          <hr class="my-4">
          <div class="row">
            <div class="col-md-12">
              <h3>Produtos mais vendidos</h3>
              <table class="table table-striped">
                <tr>
                  <th>Produto/Serviço</th>
                  <th>Quant.</th>
                  <th>R$ Médio</th>
                </tr>
                <tr *ngFor="let product of productsBestsellers">
                  <td>{{product.name}}</td>
                  <td>{{product.amount}}</td>
                  <td>{{product.averagePrice | currency:'BRL'}}</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <h3>Categorias em destaque</h3>
              <table class="table table-striped">
                  <tr>
                    <th>Categoria</th>
                    <th>Quant.</th>
                    <th>R$ Médio</th>
                  </tr>
                  <tr *ngFor="let category of categoriesBestsellers">
                    <td>{{category.name}}</td>
                    <td>{{category.amount}}</td>
                    <td>{{category.averagePrice | currency:'BRL'}}</td>
                  </tr>
                </table>
            </div>
            <div class="col-md-6">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
            <div class="col-md-12">
              <h3>Falta no meu mix</h3>
              <table class="table table-striped">
                  <tr>
                    <th>Produto</th>
                    <th>Quant. vendida na região</th>
                    <th>R$ Médio</th>
                  </tr>
                  <tr *ngFor="let product of productsMissing">
                    <td>{{product.name}}</td>
                    <td>{{product.amount}}</td>
                    <td>{{product.averagePrice | currency:'BRL'}}</td>
                  </tr>
                </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
