<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Cupom Fiscal</h2>
      <p>Você disponibiliza os dados do seu cupom fiscal, para que seja feito uma análise das suas compras e lhe dando:</p>
      <ul>
        <li>Seu comportamento de compra <small>Saiba com o que você está gastando.</small></li>
        <li>Descontos em estabelecimentos diversos</li>
      </ul>

    </div>
    <div class="col-md-4">
      <h2>Análise de Dados</h2>
      <p>
        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Ganhos Reais</h2>
      <p>
        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
      </p>
    </div>
  </div>
</div>