<div class="container">
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <h2>Economia no dia a dia</h2>
      <p>Você disponibiliza os dados do seu cupom fiscal, para que seja feito uma análise das suas compras e você sai ganhando:</p>
      <ul>
        <li>Análise do comportamento de compra <small>Saiba com o que você está gastando.</small></li>
        <li>Descontos em estabelecimentos diversos</li>
      </ul>
      <img src="https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png" width="200">

    </div>
    <div class="col-md-4">
      <h2>Para o seu negócio</h2>
      <p>
          Nosso app oferece análise completa de dados de hábitos de consumo regionais, facilitando e aperfeiçoando a tomada de decisões, para ampliação do mercado consumidor e fidelização dos clientes.​</p>
          
          <p>Será possível prever estoques com mais eficiência e saber que novos produtos oferecer.​</p>
          
          <p>Nossa base de dados  é constantemente atualizada e permite consultas a produtos específicos ou grupos de produtos,​
      </p>
    </div>
    <div class="col-md-4">
      <h2>Ganhos Reais</h2>
      <p>
          O investimento no app da Market Makers, vai otimizar o comércio proporcionando ganhos reais, com a atração de novos consumidores, redução de custos com estoques desnecessários.​
      </p>
      <p>Suas ofertas terão destino e retorno garantidos, sendo visíveis a todos os usuários do aplicativo.​
      </p>
    </div>
  </div>
</div>